# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
.venv/
venv/
pip-wheel-metadata/
*.egg-info/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Data files
data_sample/
*.csv

# Power BI & large binaries (tracked via Git LFS recommended)
*.pbix
*.pbix.lock
